/* Navbar.css */
.navbar {
    width: 100%; /* Ensures full width */
    background-color: #f0f0f0; /* Example background color */
    padding: 10px 0; /* Adjust padding as needed */
    position: fixed; /* Optional: Stays at the top */
    top: 0; /* Optional: Position at the top */
    left: 0; /* Optional: Position at the left edge */
    z-index: 100; /* Ensure it's above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Vertically align items */
    max-width: 1620px; /* Optional: Set a maximum width for content */
    margin: 0 auto; /* Center the content */
    padding: 0 20px; /* Add padding to the sides */
  }
  
  .navbar-brand {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-size: larger;
  }
   
  .navbar-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }

  .logo {
    height: 2rem !important;
    width: 2rem !important;
  }